<h1>Welcome</h1>
<%= flash[:notice] %>

<% if current_user.present? %>
  <h3> Logged in as: <%= current_user.email %> </h3>
  
  <br>
  <h2>Addresses</h2>
  <% current_user.addresses.each do |address| %>
    <p>
    <strong>Area:</strong> <%= address.area %>  
    <strong>City:</strong> <%= address.city %>
    <strong>State:</strong> <%= address.state %>
    <strong>Pincode:</strong> <%= address.pincode %>

    <%= button_to "Delete Address", address_path(id: address.id), method: :delete %>
    <br>
    <%= button_to "Edit Address", edit_address_path(id: address.id), method: :get %>
    </p>
  <% end %>

  <br>
  <%= button_to "Add New Address", addresses_path, method: :get %>

  <br>
  <%= button_to "View Products", products_path, method: :get %>
  
  <br>
  <%= button_to "Logout", logout_path, method: :delete %>
<% else %>
  <br>
  <%= button_to "Sign In", sign_in_path, method: :get, class: "btn btn-primary" %>
  
  <br>
  <%= button_to "Sign Up", sign_up_path, method: :get %>

  <br>
  <%= button_to "View Products", products_path, method: :get %>
<% end %>
