<p>
  <strong>Area:</strong> <%= address.area %>  
  <strong>City:</strong> <%= address.city %>
  <strong>State:</strong> <%= address.state %>
  <strong>Pincode:</strong> <%= address.pincode %>

  <li><%= link_to "Destroy", addresses_path(@address), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li>
</p>
