<h2>Add New Address:</h2>

<%= form_with model: @address do |form| %>
  <p>
    <%= form.label :area %><br>
    <%= form.text_field :area %>
  </p>
  <p>
    <%= form.label :city %><br>
    <%= form.text_field :city %>
  </p>
  <p>
    <%= form.label :state %><br>
    <%= form.text_field :state %>
  </p>
  <p>
    <%= form.label :pincode %><br>
    <%= form.number_field :pincode %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>
